<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
  <body>
    <main>
        <%- include('../layout/header.ejs') %>
            <% console.log('values @ chooseSeed page', valence)%>
            <% trackResults.forEach(track => { %>
                <iframe src="https://open.spotify.com/embed/track/<%=track.id%>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <form method="post" action="/makePlayList/<%=track.id%>" class="searchForm">
                    <input type="hidden" name="valence" value="<%=valence%>">
                    <input type="hidden" name="access_token" value="<%=access_token%>">
                    <input type="hidden" name="refresh_token" value="<%=refresh_token%>">
                    <button type="submit">Seed using this track</button>
                </form>
            <% }) %>
    </main>
    <%- include('../layout/footer.ejs')%>
  </body>
</html>