<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
  <body>
    <main>
        <%- include('../layout/header.ejs') %>
        <form class="mood" method="post" action="/search">
          <fieldset>
            <label>Danceability<input name="danceability" type="range" min="10" max="90" value="50"></label>
            <label>Valence<input name="valence" type="range" min="10" max="90" value="50"></label>
            <% if(access_token && refresh_token) { %>
            <%  console.log('we got us some tokens'); %>
            <input type="hidden" name="access_token" value="<%=access_token%>">
            <input type="hidden" name="refresh_token" value="<%=refresh_token%>">
            <% } %>
            <button type="submit">I been feeeeeelin this waaayyyyy</button>
          </fieldset>
        </form>
        <a href="/search">Search</a>
    </main>
      <%- include('../layout/footer.ejs')%>
  </body>
</html>