<!DOCTYPE html>
<html>
  <%- include('../layout/head.ejs') %>
  <body>
      <%- include('../layout/header.ejs') %>
    <main>
        <% userPlaylists.forEach(playlist => { %>
            <div class="playlistWrapper">
                <img class="moodPlaylistImage" src="<%=playlist.img_url.replace('\\\\', '/') %>">
                <iframe class="embeddedTrack" src="https://open.spotify.com/embed/track/<%=playlist.seedtrackid%>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                <iframe class="embeddedPlaylist" src="https://open.spotify.com/embed/user/spotify/playlist/<%= playlist.playlistid %>" width="650" height="380" frameborder="0" allowtransparency="true"></iframe>
            </div>
        <% }) %>
    </main>
    <%- include('../layout/footer.ejs') %>
</body>
</html>