<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/header.ejs') %>
    <main>
      <div class="button">
        <h2>Search for a track to begin</h2>
      </div>
      <form method="post" action="/spotifySearch" class="searchForm">
        <fieldset>
          <label>
            <input type="text" name="trackQuery" placeholder="Search by track" required>
          </label>
          <input type="hidden" name="valence" value="<%=valence%>">
          <input type="hidden" name="access_token" value="<%=access_token%>">
          <input type="hidden" name="refresh_token" value="<%=refresh_token%>">
          <input type="hidden" name="userid" value="<%=userid%>">
          <input type="hidden" name="img_url" value="<%=img_url%>">
          <button type="submit">Search</button>
        </fieldset>
      </form>
    </main>
      <%- include('../layout/footer.ejs')%>
  </body>
</html>