<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
  <body>
    <%- include('../layout/header.ejs') %>
    <main>
      <img src="<%= image.fileName %>">
      <!-- Upload new image form -->
      <form method='post' action='/upload' enctype="multipart/form-data">
        <label for="fileChooser">Choose an image: </label>
        <input type='file' name='fileUploaded' id="fileChooser">
        <input type='submit'>
      </form>
      <!-- Accept this image and submit form -->
      <form class="mood" method="post" action="/search">
        <fieldset>
          <input type="hidden" name="valence" value="<%= image.valence %>">
          <% if(access_token && refresh_token) { %>
          <input type="hidden" name="access_token" value="<%=access_token%>">
          <input type="hidden" name="refresh_token" value="<%=refresh_token%>">
          <input type="hidden" name="userid" value="<%=userid%>">
          <input type="hidden" name="img_url" value="<%=image.fileName%>">
          <% console.log(img_url); %>
          <% console.log(image.fileName); %>
          <% } %>
          <button type="submit">Get Your Custom Playlist</button>
        </fieldset>
      </form>
    </main>
    <%- include('../layout/footer.ejs')%>
  </body>
</html>
