
<!DOCTYPE html>
<html>
   <%- include('../layout/head.ejs') %>
   <%- include('../layout/header.ejs') %>
  <body>
    <main>
        <img src="<%= image.fileName %>">
        <!-- Upload new image form -->
        <form method='post' action='/upload' enctype="multipart/form-data">
          <input type='file' name='fileUploaded'>
          <button type='submit'>Upload another image</button>
        </form>
        <!-- Accept this image and submit form -->
        <form class="mood" method="post" action="/search">
          <fieldset>
            <input type="hidden" name="valence" value="<%= image.valence %>">
            <% if(access_token && refresh_token) { %>
            <%  console.log('showimage.ejs - access_token', access_token); %>
            <%  console.log('showimage.ejs - refresh_token', refresh_token); %>
            <input type="hidden" name="access_token" value="<%=access_token%>">
            <input type="hidden" name="refresh_token" value="<%=refresh_token%>">
            <% } %>
            <button type="submit">I been feeeeeelin this waaayyyyy</button>
          </fieldset>
        </form>
    </main>
           <%- include('../layout/footer.ejs')%>

  </body>

</html>